a {
    text-decoration: none;
    color: #2c2c2c;
}

body {
    font-family: "Josefin Sans", "Zen Kaku Gothic New";
    font-weight: 500;
    font-style: normal;
    color: #2c2c2c;
}

.container {
    max-width: 1280px;
    width: 100%;
    padding: 0 80px;
    margin: 0 auto;
}

/*header*/
header {
    height: 100px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 10;
}
.logo {
    height: 80px;
    margin-top: 10px;
}
.header-left {
    float: left;
    margin-left: 65px;
}
.header-right {
    float: right;
    margin-right: 30px;
}
.header-right a {
    font-size: 20px;
    letter-spacing: 0.18em;
    line-height: 100px;
    padding-right: 35px;
}
.header-right a:hover {
    opacity: 0.5;
}

/*top*/
.top-wrapper {
    height: 805px;
    width: 100%;
    background-image: url(https://github.com/nonpi2410/portofolio/blob/main/images/TOP.jpg?raw=true);
    background-position: center bottom;
    background-size: cover;
}
.top-txt {
    font-size: 16px;
    letter-spacing: 0.18em;
    margin-left: 65px;
}

/*about*/
.about-wrapper {
    height: 500px;
    margin-top: 100px;
}
.about-box {
    display: flex;
    width: 100%;
}
.about-box1 {
    width: 50%;
}
.about-box2 {
    width: 50%;
    padding-top: 150px;
}
.about-box1 h2 {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 0.2em;
    line-height: 100px;
    margin-bottom: 40px;
}
.about-border-right {
    font-size: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
}
.about-border-right:after {
    border-top: 1px solid;
    content: "";
    flex-grow: 0.08;
}
.about-border-right:after {
    margin-left: 1rem;
}
.about-p-txt {
    font-size: 16px;
    letter-spacing: 0.2em;
    line-height: 2em;
    margin: 75px 0 75px 0;
}
.my-profile {
    font-size: 15px;
    border-bottom: 1px solid #999;
    letter-spacing: 0.2em;
    padding-bottom: 5px;
}
.my-profile:hover {
    opacity: 0.5;
}
.about-img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    float: right;
}

/*design*/
.design-wrapper {
    margin-top: 300px;
}
.design h2 {
    font-size: 60px;
    letter-spacing: 0.2em;
}
.dbox {
    width: 32%;
    height: 340px;
    object-fit: cover;
}
.design-box {
   display: flex;
   justify-content: space-between;
}
.design p {
    font-size: 16px;
    letter-spacing: 0.2em;
    line-height: 2em;
    margin: 60px 0 35px 0;
}
.view-more {
    font-size: 15px;
    border-bottom: 1px solid #999;
    letter-spacing: 0.2em;
    float: right;
    padding-bottom: 5px;
}
.view-more:hover {
    opacity: 0.5;
}

/*wrok*/
.work-wrapper {
    margin-top: 150px;
}
.work-title {
    font-size: 60px;
    letter-spacing: 0.2em;
    text-align: center;
}
.work-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
}
.wbox {
    width: 32%;
    height: 340px;
    object-fit: cover;
    margin-top: 25px;
}

/*contact*/
.contact-wrapper {
    margin-top: 250px;
    margin-bottom: 200px;
    text-align: center;
}
.contact-bg {
    position: relative;
    display: inline-block;
    width: 900px;
    height: 410px;
    background-color:#f2f2f2;
}
.contact-txt {
    position: absolute;
    width: 100%;
}
.contact-title {
    font-size: 60px;
    letter-spacing: 0.2em;
    text-align: center;
    margin-top: 60px;
}
.contact-btn {
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    letter-spacing: 0.1em;
    padding: 30px 80px;
    margin-top: 40px;
    border-radius: 50px;
}
.contact-btn:hover {
    opacity: 0.7;
  }
.contact-p {
    font-size: 16px;
    letter-spacing: 0.1em;
    line-height: 2em;
    margin-top: 70px;
}

/*footer*/
footer {
    height: 100px;
    width: 100%;
    border-top: 1px solid #f2f2f2;
}
.logo {
    height: 80px;
    margin-top: 10px;
}
.footer-left {
    float: left;
    margin-left: 65px;
}
.footer-right {
    float: right;
    margin-right: 30px;
}
.footer-right a {
    font-size: 20px;
    letter-spacing: 0.18em;
    line-height: 100px;
    padding-right: 35px;
}
.footer-right a:hover {
    opacity: 0.5;
}
